/* CSS Document */

main {
	position: relative;
}

body{
	background-color: #EAEDF0;
	padding: 0;
	margin: 0;
}

* {
	font-family: $body-font;
}

h1, h2, h3, h4, h5 {
    font-family: $headings;
}

.page-title {
	color: $primary-color;
	font-weight: 300;
		
}

figure {
	padding: 0;
	margin: 0;
}

.wp-block-embed__wrapper {
	position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}