$primary-color: #2F3188;
$secondary-color: #D83731;
$light-blue: #AEC0FA;
$green: #4B8B89;
$light-green: #CADBDA;
$citzen: #EAEDF0;
$grey-500: #676767; 
$grey-200: #A2A2A2;
$grey-100: #EFEFEF;
$light-color: #ffffff;

$theme-colors: (
  "primary-color": $primary-color,
  "secondary-color": $secondary-color,
  "light-blue": $light-blue,
  "light-green": $light-green,
  "grey-500": $grey-500,
  "grey-200": $grey-200,
  "grey-100": $grey-100,
  "green": $green,
  "light-color": $light-color
);

@include rootcolors($theme-colors);
@include colors($theme-colors);
@include bgcolors($theme-colors);