.blog {

    &__parent {
        &:nth-child(1) {
            background-color: $primary-color;
            padding: px-rem(40px) px-rem(10px);

            .blog__title a {
                color: white!important;
            }

            .blog__excerpet {
                color: $light-blue!important;
            }
        }

        @include min-lg {
            margin-bottom: px-rem(40px)
        }
    }
    
    &__posts {
        max-width: $max-width;
        margin: auto;
    }

    &__article {
        @include max-lg {
           // margin-bottom: 5rem;
        }

        @include min-lg {
            padding: 0 px-rem(30px);    
            display: grid;
            grid-template-columns: 30% auto;
            grid-gap: 30px;

            .blog__image {
                @include image-proportional(600, 400)
            }
            
           // }

            // &:nth-child(n+4) {
            //     width: 45%;
            //     display: inline-flex;

            //     figure {
            //         display: none;
            //     }
                
            //     .blog__title {
            //         padding-bottom: 0;
            //         a{
            //             @include fluid-size(font-size, 20px, 40px);
            //         }
            //     }

            //     .blog__excerpet {
            //         @include fluid-size(font-size, 16px, 20px);
            //     }
            // }
        }
    }

    &__title {
        padding-bottom: 0;
        line-height: 1rem;
    }

    &__date {
        @extend %blog-date;
    }

    &__title {
        a{
            @extend %blog-title;
            text-decoration: none;
        }
    }

    &__excerpet {
        @extend %blog-subtitle;
        text-align: left;
        font-size: 18px;
    }

}