.archive-products {
    max-width: 1366px;
    width: 95vw;
    margin: 0 auto;

    &__category-cover {
        @extend %bg_header;
        margin-bottom: px-rem(50px);
        position: relative;
        background-color: white;
        
        &::after {
            content: '';
            background-color: $primary-color;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 0;
            mix-blend-mode: multiply;
            
        }
    }
    
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        gap: 20px;
        padding-bottom: px-rem(60px);

    }
    
    &__category-head {
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__category-name {
        @include fluid-size(font-size, 30px, 45px);
        font-weight: 300;
        max-width: $max-width;
        margin: auto;
        color: white;
        position: relative;
        z-index: 1;
    }

    &__category-description {
        font-weight: 300;
        max-width: $max-width;
        margin: auto;
        position: relative;
        z-index: 1;

        p {
            color: $light-blue;
            max-width: 800px;
        }
    }

    &__subcategory-name {
        @include fluid-size(font-size, 24px, 30px);
        color: #676767;
        font-weight: 300;
    }

    &__category-link {
        display: inline-block;
        padding: px-rem(8px) px-rem(15px);
        @include border-radius(8px);
        background-color: $secondary-color;
        color: white;
        text-decoration: none;
        font-size: px-rem(14px);

        &:hover {
            background-color: darken($secondary-color, 10%); 
            transition: all 0.5s;
        }

        span {
            display: inline-flex;
            font-size: 12px;
            background: #ffffff70;
            padding: 0px;
            border-radius: 110px;
            width: 20px;
            height: 20px;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-left: 10px;
        }
    }
    
    &__container {
        display: grid;
        grid-template-columns: 70% auto;
        grid-gap: 30px;
    }

    &__sidebar {
       ul {
        padding: 0;
        margin: 0;
       }

       li {
        list-style: none;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        padding-bottom: .3rem;
        padding-top: .3rem;
        padding-left: 1rem;
        @include border-radius(6px);
        transition: all 0.5s;
        background-color: $primary-color;
        margin-bottom: 5px;
        font-size: 14px;
        cursor: pointer;

        &.active {
            background-color: $secondary-color;
        }

        &:hover {
            background-color: $secondary-color;
            transition: all 0.5s;
            color: white;
        }
       }

    }
}