.diagnews {
    max-width: 1250px;
    width: 90vw;
    margin: 0 auto;

    ul {

        @include min-lg {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
       
    }

    li {
        .wp-block-post-featured-image {
            @include image-proportional(370, 210);
        }
        img {
            transition: all 0.3s;
        }
    }

    .wp-block-post-excerpt__excerpt,
    .wp-block-post-date,
    hr {
        display: none;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        
        &:hover {
            img {
                transform: scale(1.1);
                transition: all 0.3s;
            }
        }
    }

    &__title {
        max-width: 1250px;
        width: 90vw;
        margin: 0 auto 1.3em;

        &.wp-block-columns {
            @include max-lg {
                flex-wrap: nowrap!important;
            }
        }
       

        a {
            font-size: 14px;
            text-decoration: none;
            color: $primary-color;
        }
    }
}