.form__group {

    @include min-lg {
        display: flex;
        column-gap: 20px;
    }
    
    > div {

        @include min-lg {
            width: 50%;
            column-gap: 20px;
        }
    }
}

.form {
    &__hidden {
        display: none;
    }
}

.form__legal {
	text-align: center!important;
	font-size: 12px;

    a {
        font-size: 12px;
    }
}

.form-contato {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    &__title {
        @include fluid-size(font-size, 20px, 34px);
        font-weight: 100;
        color: $primary-color;
        text-transform: uppercase;
    }

    .wpcf7-submit {
        background-color: $primary-color;
        border: 0;
        color: white;
        padding: 15px 30px;
        margin: 0;
        font-size: 16px;
    }

    form > p {
        text-align: right;
    }
}

.wpcf7-form {
    padding-bottom: 20px;
    .form__btn {
        p {
        text-align: right;
        }
    }
}