.nav-container {
	background-color: white;
	box-sizing: border-box;
	padding: 1rem 2rem;
	width: 100%;
	z-index: 100;

	&.fixed {
		left: 0;
		position: fixed;
		top: 0;
		padding-top: 0;
		padding-bottom: 0;
		transition: all .5s;
	}

	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	
	}

	&__menu {
		position: fixed;
    	right: -100vw;
		transition: all 1s ease-out;
		z-index: 99;
		width: 100vw;
		background: white;
		margin: 0;
		padding: 0;
		height: 100vh;
		top: 0;
		display: flex;
		align-items: center;

		@include min-xl {
			position: relative;
			width: auto;
			height: auto;
			right: unset;
		}
	}

	&__social {
		display: flex;
		
		div {
			width: 22px;
			height: 22px;
			margin-left: 10px;
		}
	}

	nav.main-menu {
		width: 100%;
		
		#menu-header-menu > .menu-item-has-children {
			background-image: url($imgpath + '/seta-submenu.png');
			background-repeat: no-repeat;
			background-position: 100% 50%;
			padding-right: 20px;
			background-size: 10px;

			&:hover {
				background-color: white;
				> .sub-menu {
					display: grid;
					z-index: 99;
				}
			}
		}
		

		ul {
			@include min-xl {
				display: flex;
				padding: 0;
				margin: 0;
				align-items: center;

				.sub-menu {
					grid-template-columns: 1fr 1fr;
					width: 450px;
					position: absolute;
					max-height: 355px;
					overflow-y: auto;
					top: 18px;
					left: 0;
					background-color: $primary-color;
					padding: 8px;
					min-width: 200px;
					display: none;

					li {
						padding: 5px 0;
						a {
							color: white;
							font-size: px-rem(14px);

							&:hover {
								color: white;
							}
						}
					}
				}
			}

			li:not(.search-menu-item) {
				a {
					&::after {
						content: '';
						background-color: $secondary-color;
						height: 2px;
						width: 0%;
						position: absolute;
						bottom: 0;
						left: 0;
						@include border-radius(8px);
						transition: all .5s;
					}
				}

				a:hover {
					
					transition: all .5s;

					&::after {
						width: 100%;
						transition: all .3s;
					}
				}
			}
			

			li {
				@include min-xl {
					list-style: none;
					font-size: px-rem(14px);
					font-weight: 700;
					position: relative;
				}

				a {
					text-decoration: none;
					color: #30353E;
					transition: all .5s;
					position: relative;
					display: inline-block;
					font-size: px-rem(14px);
				}
			}

			li:not(:last-child) {
				@include min-xl {
					margin-right: px-rem(20px);
				}
			}
		}
	}

	&__logo {
		z-index: 100;
	}

	&__menu.active {
		right: 0;
		transition: all 1s ease-in-out;
	}

	&__control {
		z-index: 100;

		@include min-xl {
			display: none;
		}
	}

	.h-menu {
		width: 3rem;
	
		&__line {
			display: block;
			width: 100%;
			height: 0.4rem;
			background-color: $grey-500;
			margin-bottom: 0.4rem;
			transition: all .3s ease-out;
			@include border-radius(1.2rem);
	
		}
	}
	
	.h-menu.active {
		.h-menu__line {
			&:first-child {
				transform: rotate(45deg);
				transition: all .3s ease-in-out;
			}
			&:last-child {
				transform: rotate(-45deg);
				margin-top: -0.8rem;
				transition: all .3s ease-in-out;
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

.search-menu-item {
	border: none;
    background-color: #ededed;
    padding: 5px;
    border-radius: 8px;
}