.pagination {
    .nav-links {
        list-style-type: none;
        width: 100%;
        padding: 30px 20px;
        text-align: center;
    
        .page-numbers {
            display: inline-block;
            padding: 0 10px;
            color: $primary-color;
            
            &:not(:last-child) {
                
            }
    
            &.current {
               color: $gray-200;
            }
        }
    }
}