.pagination {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10rem;
}

.screen-reader-text {
    display: none;
}

.nav-links {
    list-style-type: none;
    width: max-content;
    margin: 0 auto;

    a, span {
        display: inline-block;
        @include max-lg {
            margin: {
                left: 1rem;
                right: 0;
            };
        }

        @include min-lg {
            margin: {
                left: 1rem;
                right: 1rem;
            };
        }
        text-decoration: none;
    }

    .page-numbers {
       
        @include border-radius(50px);
        overflow: hidden;
        width: 3rem;
        height: 3rem;
        color: $primary-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            
        }

        &.current {
           background-color: $grey-100;
           color: white;
           background-color: $secondary-color;
        }
    }
}