.c-card-products {
    max-width: 300px;
    background-color: white;
    transition: all 0.4s ease-out;
    position: relative;
    overflow: hidden;

    &.hidden {
       display: none; 
    }
    
    .c-square-detail {
        position: absolute;
        z-index: 1;
        right: 0;
    }

    &:hover & {
        &__content {
            height: 100%;
            transition: all 0.3s ease-in-out;
        }
    }

    &__content {
        position: absolute;
        background: rgb(47 49 136 / 70%);
        width: 100%;;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 0;
        transition: all 0.3s ease-in-out;
        // display: grid;
        // gap: 10px;
        // grid-template: auto auto 0px / repeat(1, 1fr);
        // grid-auto-flow: column;
        // padding: 0 px-rem(15px);
        margin: 0;

    }

    &__brand {
        display: flex;
        justify-content: space-between;

        figure {
            max-width: calc(100% - 40px);
            padding: 5px 0 5px 5px;
            img {
                width: 100%;
                height: auto;
                max-width: 100px;
            }
        }
    }

    &__image {
        max-height: 200px;

        img {
            max-height: 180px;
            width: auto;
            height: 100%;
            max-width: 90%;
            margin-left: 50%;
            transform: translateX(-50%);
            padding-bottom: 20px;
        }
    }

    &__name {
        font-size: px-rem(18px);
        font-weight: 500;
        margin: 0;
        width: 100%;
        height: 100%;

        a{
            color: white;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__resume {
        font-size: px-rem(16px);
        font-weight: 500;
        p {
            padding: 0;
            margin: 0;
        }
        a{
            color: $grey-500;
            text-decoration: none;
        }
    }
}

.c-products-related {
   
    padding: px-rem(60px) 0;
    background-color: #E2E7EB;

    &__title {
        @include fluid-size(font-size, 30px, 45px);
        color: $primary-color;
        font-weight: 300;
        
    }

    &__container {
        width: 95vw;
        max-width: $max-width;
        margin: 0 auto;

        .c-square-detail {
            background-color: #E2E7EB;
        }
    }
}