/* Style the tab */
.tab {
    overflow: hidden;

    &__button {
        

        &:hover {
            
        }

        &.active {
            
        }
    }
}

.tab-navigation {
    display: flex;
}

/* Style the tab content */
.tabcontent {
    //display: none;
    &.hide {
        display: none
    }
    &.active {
        display: block!important;
    }
}
